.idea/
.nyc_output
.project
.vscode/
app.zip
coverage/
current.zip
current/*
dist.zip
dist/*
**/dist/*
**/node_modules/*
npm-debug.log
reports/
src/conf/local.json
src-nestjs/conf/local.json
package-lock.json
yarn.lock
*.d.ts
